body {
  padding: 0;
  margin: 0;
   
   background-color: #1b1b1b;
   

}
.caixa-cabeçalho{
  width: 98%;
  height: 100px;
  margin-left: 10px;
  margin-bottom: 5px;
  border: 1px solid white;
}

.lista-de-filmes{
  margin-left: 10px;
}

.poster  {
  display: flex;
}

img{
  height: 300px;
}

input  {
  margin-left: 85%;
  height: 25px; 
}

.h1 {
  width: 50%;
  height: 12px;
  color: white;
}

