body {
  padding: 0;
  margin: 0;
  background-size: cover;
  /* background-color: #111; */

}
.caixa-cabeçalho{
  width: 98%;
  height: 100px;
  margin-left: 10px;
  margin-bottom: 5px;
  border: 1px solid white;
}

.lista-de-filmes{
  margin-left: 10px;
}

.poster  {
  display: flex;
}

img{
  height: 300px;
}
